


html {
  font-size: .875rem;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #d2c0aa;
}

body {
  padding:2rem 0;
  color:#333F48;
}

a {
  text-decoration: none;
  color: #ae7f3d;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

main {
  display:grid;
  grid-template-columns: 5fr 3fr ;
  grid-auto-rows:min-content;
  grid-gap:1.5rem;
  width: 50vw;
  margin: 0 auto;
}

.intro-block {
  grid-column:1 / 3;
}

.self {
  grid-column:2 / 3;
  grid-row: 4 / 5;
  padding-right: 2rem;
  padding-left: 2rem;
}

.end {
  grid-column:2 / 3;
  grid-row: 4 / 5;


}
.statement {
  grid-column:1 / 2;
}

.now {
  grid-column:1 / 2;
}
.projects {
  grid-column: 2/3;
  grid-row: 2/3;
}

.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5, {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:3.375rem;
  font-weight:800;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:1.2rem;
  font-weight:300;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2.0;
  font-weight:450;
  padding: 0.5rem 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom:1rem;
}

.location {
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

.pull-quote {
  grid-column:1 / 2;
  grid-row: 3 / 4;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2;
  font-weight:700;
  padding:0rem;

}


img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: 0.775rem;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 0rem;
}
